<ul class="sidebar-nav">
  {% if user.is_authenticated %}
    <li>User: {{ user.get_username }}</li>
    <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
  {% else %}
    <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
  {% endif %}

  <br>

	<li><a href="{% url 'catalog:index' %}">Home</a></li>
	<li><a href="{% url 'catalog:band-list-view' %}">Bands</a></li>
	<li><a href="{% url 'catalog:musician-list-view' %}">Musicians</a></li>
	<li><a href="{% url 'catalog:instrument-list-view' %}">Instruments</a></li>
	<li><a href="{% url 'catalog:genre-list-view' %}">Genres</a></li>
	<li><a href="{% url 'catalog:country-list-view' %}">Countries</a></li>
</ul>
