.country-list {
    list-style-type: none;
}

.update-delete {
    font-weight: bold;
    font-size: 0.7rem;
}

.update {
    color: #b2b2b2;
}

.delete {
    color: red;
}

.slash {
    font-weight: normal;
    color: gray
}

.text-light-gray {
    color: #c0c0c0
}