{% extends "base.html" %}

{% block content %}
	<h1>Band List</h1>

	<a href="{% url 'catalog:band-create' %}" class="btn btn-primary link-to-page">
		Add new band
	</a>

	{% if band_list %}
		<ul>
			{% for band in  band_list %}
				<li>
					<a href="{% url 'catalog:band-detail-view' pk=band.id %}">{{ band.name }}</a>
					from {{ band.country }}
					( Genres:
						{% for genre in band.genres.all %}
							{{ genre.name }}
						{% endfor %} )

					<a href="{% url 'catalog:band-update' pk=band.id %}">
          	Edit
          </a>
					 /
					<a style="color: red" href="{% url 'catalog:band-delete' pk=band.id %}">
          	Delete
					</a>

				</li>
			{% endfor %}
		</ul>
	{% else %}
		<p>There are no bands in library!</p>
	{% endif %}
{% endblock %}
