{% extends "base.html" %}

{% block title %} {{ band.name }} {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
  <link href="{{ ASSETS_ROOT }}/css/custom-styles.css" rel="stylesheet" />
{% endblock stylesheets %}

{% block content %}

	<section class="header-2">
    <div class="page-header-lists section-height-75 relative" style="background-image: url('{{ ASSETS_ROOT }}/img/curved-images/curved.jpg')">
      <div class="container">

        <div class="row">
          <div class="col-lg-7 text-center mx-auto mt-7">
            <h1 class="text-white pt-3">
              {{ band.name }}
            </h1>
            <p class="lead text-light-gray">
              {{ band.country }}
            </p>

          </div>
        </div>

        <div class="row">
          <div class="col-lg-8 center-block mx-auto">
            <div class="row">
              <div class="col-md-5 position-relative ms-10">
                <p class="text-white mb-0">Member{{ band.members.all|pluralize }}:</p>
                 <ul class="text-light-gray country-list p-sm-0">
                  {% for musician in band.members.all %}
                    <li>
                      <strong>
                        <a class="text-white" href="{% url 'catalog:musician-detail-view' pk=musician.id %}">
                          {{ musician.first_name }} {{ musician.last_name }}
                        </a>
                      </strong>
                        ( {{ musician.instrument }} )
                    </li>
                  {% empty %}
                    <p>No musicians!</p>
                  {% endfor %}
                </ul>

              </div>
              <div class="col-md-4">
                <p class="text-white mb-0">Genre{{ band.genres.all|pluralize }}:</p>
                  <ul class="text-white text-sm country-list p-sm-0">
                    {% for genre in band.genres.all%}
                      <li>{{ genre.name }}</li>
                    {% empty %}
                      <p>No genres!</p>
                    {% endfor %}
                  </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-9 text-center mx-auto">
            <h3 class="text-danger">
                Do you want to delete this band?
            </h3>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-9 text-center mx-auto">
              <form action="" method="post">
                {% csrf_token %}
                <input type="submit" value="Yes" class="btn btn-sm bg-gradient-danger">
              </form>
          </div>
        </div>

      </div>

      <div class="position-absolute w-100 z-index-1 bottom-0">
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
          <defs>
            <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
          </defs>
          <g class="moving-waves">
            <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(255,255,255,0.40" />
            <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.35)" />
            <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.25)" />
            <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(255,255,255,0.20)" />
            <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(255,255,255,0.15)" />
            <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(255,255,255,0.95" />
          </g>
        </svg>
      </div>
    </div>
  </section>

{% endblock %}
