{% extends "base.html" %}

{% block title %} Genre List {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
  <link href="{{ ASSETS_ROOT }}/css/custom-styles.css" rel="stylesheet" />
{% endblock stylesheets %}

{% block content %}

	<section class="header-2">
    <div class="page-header-lists section-height-75 relative" style="background-image: url('{{ ASSETS_ROOT }}/img/curved-images/curved.jpg')">
      <div class="container">

        <div class="row">
          <div class="col-lg-7 text-center mx-auto mt-7">
            <h1 class="text-white pt-3 text-white">
              Genre List
            </h1>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-3 text-center mx-auto mt-2">
            {% block searching %}
              {% include "includes/searching.html" %}
            {% endblock %}
          </div>
        </div>

        <div class="row">
          <div class="col-lg-7 text-center mx-auto mt-2">
            {% if genre_list %}
              <ul class="lead text-white country-list">
                {% for genre in  genre_list %}
                  <li>
                    {{ genre }}
                    <span class="update-delete">
                      <a class="update" href="{% url 'catalog:genre-update' pk=genre.id %}" title="Update">
                        🖋
                      </a>
                      <span class="slash"> / </span>
                      <a href="{% url 'catalog:genre-delete' pk=genre.id %}" title="Delete">
                        ❌
                      </a>
                    </span>
                  </li>
                {% endfor %}
              </ul>
            {% else %}
              <p class="text-warning">There are no genres in library!</p>
            {% endif %}
          </div>
        </div>

        <div class="row">
          <div class="col-lg-7 text-center mx-auto">
 					  <a href="{% url 'catalog:genre-create' %}" class="btn bg-gradient-secondary">
					    Add a new genre
					  </a>
          </div>
        </div>

      </div>

        {% block waves %}
          {% include "includes/waves.html" %}
        {% endblock %}

    </div>
  </section>

	<section>
    <div class="container">
      <div class="row">
        <div class="col-lg-7 mx-auto mt-n10">
          {% block pagination %}
            {% include "includes/pagination.html" %}
          {% endblock %}
        </div>
      </div>
    </div>
  </section>

{% endblock %}

