{% extends "base.html" %}

{% block content %}
	<h1>Instrument List</h1>

	<a href="{% url 'catalog:instrument-create' %}" class="btn btn-primary link-to-page">
		Add new instrument
	</a>

	{% block searching %}
  	{% include "includes/searching.html" %}
  {% endblock %}

	{% if instrument_list %}
		<ul>
			{% for instrument in  instrument_list %}
				<li>
					{{ instrument }}
					<a href="{% url 'catalog:instrument-update' pk=instrument.id %}">
          	Update
          </a>
					 /
					<a style="color: red" href="{% url 'catalog:instrument-delete' pk=instrument.id %}">
          	Delete
					</a>
				</li>
			{% endfor %}
		</ul>
	{% else %}
		<p>There are no instruments in library!</p>
	{% endif %}
{% endblock %}
