{% extends "base.html" %}

{% block title %} {{ musician }} {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
  <link href="{{ ASSETS_ROOT }}/css/custom-styles.css" rel="stylesheet" />
{% endblock stylesheets %}

{% block content %}

	<section class="header-2">
    <div class="page-header-lists section-height-75 relative" style="background-image: url('{{ ASSETS_ROOT }}/img/curved-images/curved.jpg')">
      <div class="container">

        <div class="row">
          <div class="col-lg-7 text-center mx-auto mt-7">
            <h1 class="text-white pt-3">
              {{ musician.first_name }} {{ musician.last_name }}
            </h1>
            <p class="lead text-light-gray">
              [{{ musician.username }}]
            </p>

          </div>
        </div>

        <div class="row">
          <div class="col-lg-9 center-block mx-auto">
            <div class="row">

              <div class="col-md-3 text-white position-relative ms-12">
                <span class="text-light-gray">Instrument:</span> {{ musician.instrument }}
              </div>

              <div class="col-md-5 text-white">
                <p class="text-white mb-0">Band{{ musician.bands.all|pluralize }}:</p>
                 <ul class="text-light-gray country-list p-sm-0">
                  {% for band in musician.bands.all %}
                    <li>
                      <strong>
                        <a class="text-white" href="{% url 'catalog:band-detail-view' pk=band.id %}">
                          {{ band.name }}
                        </a>
                      </strong>
                        from {{ band.country }}
                    </li>
                  {% empty %}
                    <p>No bands!</p>
                  {% endfor %}
                </ul>
              </div>

            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-9 text-center mx-auto">
            <h3 class="text-danger">
                Do you want to delete this musician?
            </h3>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-9 text-center mx-auto">
              <form action="" method="post">
                {% csrf_token %}
                <input type="submit" value="Yes" class="btn btn-sm bg-gradient-danger">
              </form>
          </div>
        </div>

      </div>

        {% block waves %}
          {% include "includes/waves.html" %}
        {% endblock %}

    </div>
  </section>

{% endblock %}
