{% extends "base.html" %}

{% block content %}
	<h1>Musician List</h1>

	<a href="{% url 'catalog:musician-create' %}" class="btn btn-primary link-to-page">
		Add new musician
	</a>

	{% if musician_list %}
		<ul>
			{% for musician in  musician_list %}
				<li>
					<a href="{% url 'catalog:musician-detail-view' pk=musician.id %}">{{ musician }}</a>
					<a style="color: green" href="{% url 'catalog:musician-update' pk=musician.id %}">
          	Edit
          </a>
					 /
					<a style="color: red" href="{% url 'catalog:musician-delete' pk=musician.id %}">
          	Delete
					</a>
					<p>
						Instrument:	{{ musician.instrument }}
					</p>
					<p>
						Bands:
						{% for band in musician.bands.all %}
							{{ band.name }}
						{% endfor %}
					</p>
				</li>
			{% endfor %}
		</ul>
	{% else %}
		<p>There are no musicians in library!</p>
	{% endif %}
{% endblock %}
